body {
    padding: 0;
    margin:0;
    font-family:calc();
}

header{
    background-color:  #067a0d; 
    color: lightgoldenrodyellow;
    padding: 20px;
    text-align: center;
    text-shadow:green;
}

h1{
    margin:0;
}


.container {
    max-width: 880px;
    margin:0 auto;
    padding: 20px;
}

form{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
input[type="text"],
    select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(199, 195, 195);
        font-size: 16px;
        font-family:'Lucida Sans Unicode';
    }

button[type="button"] {
    padding: 10px 20px;
    background-color: #20700ad6;
    color: lightgoldenrodyellow;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor:pointer;
    transition: background-color 0.2s ease;
    font-family: 'Arial Narrow Bold';
}

button[type="button"]:hover {
    background-color: rgb(10, 86, 10);
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top:20px ;

}

th,
td {
    padding: 10px;
    border: 1px solid rgb(199, 195, 195);
    text-align: center;
}

th {
    background-color: rgb(10, 83, 10);
    color: lightgoldenrodyellow;
}

select {font-family: Georgia;}


.botao{
    padding: 10px 20px;
    background-color: rgb(10, 83, 10);
    color: lightgoldenrodyellow;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor:pointer;
    transition: background-color 0.2s ease;
    font-family: Helvetica;
}


.por_label{
    font-family: Cochin;

}


.sao_inputs{
    padding: 8px;
    border-radius: 4px;
    font-style: oblique;
    
}

.como_assim{
    background-color: darkgreen;
    margin-top: 16px;
    padding: 8px;
    color: antiquewhite;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}
